$padding: 20px;
/*$accent: #33b5e5;*/
$accent: #45668e;
$white: #ffffff;
$black: #000000;
$dark-gray: lighten($black, 20%);

body {
  padding: $padding;
  padding-top: $padding - 10px;
  width: 15em;
}

#logo {
  color: $accent;
}

.form {
  display: none;
  padding: 40px;
  &:nth-child(2) {
    display: block;
  }
}

h2 {
  margin: 0 0 20px;
  color: $accent;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}

input {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid darken($white, 15%);
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-weight: 400;
  &:focus {
    border: 1px solid $accent;
    color: $dark-gray;
  }
}

button {
  cursor: pointer;
  background: $accent;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: $white;
  &:hover {
    background: darken($accent, 15%);
  }
}
